<md-content>
    <md-list flex>
        <md-list-item data-ng-repeat="buyer in $buyersCtrl.getEntries()">
            <md-checkbox class="md-primary"
                         data-ng-model="buyer.isSelected">

            </md-checkbox>

            <input data-ng-model="buyer.name"
                   data-ng-click="$event.stopPropagation()"
                   type="text"
                   md-autofocus
                   placeholder="Name"
                   flex>

            <!-- <h3 data-ng-model="buyer.name"></h3> -->
            <div class="md-secondary">
                {{ $buyersCtrl.getBuyerTotal(buyer) | number: 2 }} €
            </div>
        </md-list-item>
    </md-list>
</md-content>
