<md-content>
    <md-list flex>
        <md-list-item class="md-2-line md-long-text" data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
            <md-checkbox class="md-primary"></md-checkbox>

            <div class="md-list-item-text">
                <h3>Panettone con prosciutto crudo</h3>
                <p>Danilo, Stefano</p>
            </div>

            <div class="md-secondary">
                <span class="receipt-center">10 €</span>
                <span class="receipt-center receipt-badge receipt-badge-blue">x1</span>
            </div>
        </md-list-item>
    </md-list>
</md-content>
