<md-content>
    <md-list flex>
        <md-list-item class="md-2-line md-long-text" data-ng-repeat="entry in $receiptsCtrl.documentService.getData()">
            <md-checkbox class="md-primary" ng-model="entry.isSelected"></md-checkbox>

            <div class="md-list-item-text" data-ng-click="$receiptsCtrl.onEntryClicked($event, entry)">
                <h3 data-ng-bind="entry.description"></h3>
                <p>Danilo, Stefano</p>
            </div>

            <div class="md-secondary">
                <span class="receipt-center"> {{ entry.amount | number: 2 }} €</span>
                <span class="receipt-center receipt-badge receipt-badge-blue">x{{ entry.quantity }}</span>
            </div>
        </md-list-item>
    </md-list>
</md-content>
