<md-content layout="column" layout-fill>

    <md-list data-ng-if="$receiptsCtrl.hasEntries()"
             flex>
        <md-list-item class="md-2-line md-long-text"
                      data-ng-repeat="entry in $receiptsCtrl.getEntries()">
            <md-checkbox class="md-primary" ng-model="entry.isSelected"></md-checkbox>

            <div class="md-list-item-text" data-ng-click="$receiptsCtrl.onEntryClicked($event, entry)">
                <h3 data-ng-bind="entry.description"></h3>
                <p data-ng-bind="$receiptsCtrl.getFormattedEntryBuyers(entry)"></p>
            </div>

            <div class="md-secondary">
                <span class="receipt-center"> {{ entry.amount | number: 2 }} €</span>
                <span class="receipt-center receipt-badge receipt-badge-blue">x{{ entry.quantity }}</span>
            </div>
        </md-list-item>
    </md-list>

    <div data-ng-if="!$receiptsCtrl.hasEntries()"
         layout="column"
         layout-align="space-around stretch"
         layout-fill
         flex>
        <div flex></div>
        <md-icon flex-none md-svg-icon="static/icons/receipt.svg" class="receipt-noentries-icon"></md-icon>
        <h1 flex-none class="md-display-3 receipt-noentries-text">No entries</h1>
        <div flex></div>
    </div>
</md-content>
