<md-sidenav class="md-sidenav-left"
            md-component-id="left"
            md-whiteframe="4"
            md-swipe-left="$sidenavCtrl.closeSidenav($event)">

    <!-- Title -->
    <md-toolbar class="md-theme-light">
        <md-list>
            <md-list-item class="md-2-line" ng-click="$sidenavCtrl.navigateToGithub()">
                <img ng-src="static/icons/github_logo.svg" class="md-avatar" alt="Github" />
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: white">DebtJS v{{ $sidenavCtrl.getAppVersion() }}</h3>
                    <h4 style="color: white">By {{ $sidenavCtrl.getAuthor() }} </h4>
                </div>
            </md-list-item>
        </md-list>
    </md-toolbar>

    <!-- Content -->
    <md-content layout-padding>
        <form layout="column">
            <div>
                <md-input-container class="md-block">
                    <label for="txtDescription">Description</label>
                    <input type="text" id="txtDescription" data-ng-model="$sidenavCtrl.documentService.title">
                </md-input-container>

                <md-input-container>
                    <label>Enter date</label>
                    <md-datepicker ng-model="$sidenavCtrl.documentService.date"></md-datepicker>
                </md-input-container>
            </div>

            <md-input-container>
                <label>Buyer</label>
                <md-select data-ng-model="$sidenavCtrl.documentService.buyer">
                    <md-option data-ng-value="buyer" data-ng-repeat="buyer in $sidenavCtrl.documentService.buyers">
                        {{ buyer.name }}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-list>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Web storage</h3>
                        <p>Use the web storage as data backup</p>
                    </div>
                    <md-switch class="md-primary"
                               data-ng-model="$sidenavCtrl.storageService.saveToStorage">
                    </md-switch>
                </md-list-item>

                <md-divider ></md-divider>
            </md-list>
        </form>
    </md-content>
</md-sidenav>
