<md-toolbar class="md-hue-2" flex-none>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" data-ng-click="$toolbarCtrl.toggleSidenav()">
            <md-icon md-svg-icon="static/icons/menu.svg"></md-icon>
        </md-button>
        <h3>
            <span data-ng-bind="$toolbarCtrl.getTitle()"></span>
        </h3>
        <span flex></span>

        <!-- Visible buttons -->
        <!-- Non overflowable buttons -->
        <md-button class="md-icon-button"
                   data-ng-repeat="button in $toolbarCtrl.getButtons()"
                   data-ng-if="!button.overflow"
                   data-ng-click="button.onClick()"
                   aria-label="button.ariaLabel">
            <md-icon md-svg-icon="{{ button.icon }}"></md-icon>
            <md-tooltip md-direction="bottom" data-ng-bind="button.tooltip">
            </md-tooltip>
        </md-button>

        <!-- Overflowable buttons -->
        <md-button class="md-icon-button"
                   data-ng-repeat="button in $toolbarCtrl.getButtons()"
                   data-ng-if="button.overflow"
                   data-ng-click="button.onClick()"
                   aria-label="button.ariaLabel"
                   hide-xs>
            <md-icon md-svg-icon="{{ button.icon }}"></md-icon>
            <md-tooltip md-direction="bottom" data-ng-bind="button.tooltip">
            </md-tooltip>
        </md-button>

        <!-- Overflow menu -->
        <md-menu md-position-mode="target-right target" hide-gt-xs>
            <!-- Overflow button -->
            <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                <md-icon  md-menu-origin="" md-svg-icon="static/icons/more_vert.svg"></md-icon>
            </md-button>

            <md-menu-content width="4">
                <!-- Overflowable buttons only -->
                <md-menu-item data-ng-repeat="button in $toolbarCtrl.getButtons()" data-ng-if="button.overflow">
                    <md-button>
                        <div layout="row" flex>
                            <p flex data-ng-bind="button.tooltip"></p>
                            <md-icon md-menu-align-target="" md-svg-icon="{{ button.iconOverflow || button.icon }}" style="margin: auto 3px auto 0;"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>