<div class="tc-white-1 p+" flex-container="row" flex-column="12">
	<!-- Description -->
	<lx-text-field flex-item="5" 
				   lx-label="Description" 
				   lx-allow-clear="true" 
				   lx-fixed-label="false">
	    <input type="text" class="mousetrap" ng-model="mainCtrl.doc.title">
	</lx-text-field>

	<!-- Date -->
	<lx-date-picker flex-item="2"
					ng-model="mainCtrl.doc.date"
                    lx-input-format="LL"
                    lx-locale="{{ mainCtrl.doc.locale }}">
        <lx-text-field lx-allow-clear="true" lx-label="Pick a date">
            <input type="text" ng-model="mainCtrl.doc.dateFormatted">
        </lx-text-field>
    </lx-date-picker>

    <!-- Buyer -->
	<lx-select flex-item="5"
			   ng-model="mainCtrl.doc.buyer"
               lx-allow-clear="false"
               lx-choices="mainCtrl.doc.buyers"
               lx-display-filter="true"
               lx-fixed-label="false"
               lx-label="Buyer">
        <lx-select-selected>
            {{ $selected.name }}
        </lx-select-selected>
 
        <lx-select-choices>
            {{ $choice.name }}
        </lx-select-choices>
	</lx-select>
</div>
