/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.earning {
	color: green;
}

.debt {
	color: red;
}


/* Remove stupid lumx checkbox symbol */
.data-table__selectable-row td:first-child:before, .data-table__selectable-row th:first-child:before {
	content: none;
}

/* Lumx */
.tabs {
	display: flex;				
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.tabs__links {
	flex-grow: 0;
	flex-shrink: 0;
}

.tabs__panes {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
}

.data-table-header {
	position: relative;
	top: 0;
	left: 0;
}

.data-table td, .data-table th {
	padding-left: 24px;
	padding-right: 24px;
	text-align: center;
}

.data-table td .checkbox {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 24px;
}

.data-table tfoot {
	border-top: 1px solid #e0e0e0;
}

.data-table tfoot td {
	padding-top: 2em;
}

.smalltext {
	color: gray;
	font-size: 0.7em;
}
