<div class="data-table-container">
    <header class="data-table-header">			    	
        <div class="data-table-header__label">
            <span class="fs-title">
            	Buyers
			</span>
        </div>	
        <div class="data-table-header__actions">
			<lx-button lx-type="fab" ng-click="mainCtrl.addBuyer()" lx-tooltip="Add (Ctrl+Enter)" lx-tooltip-position="bottom">
				<i class="mdi mdi-plus"></i>
			</lx-button>	            	
			<lx-button lx-type="fab" ng-disabled="mainCtrl.getSelectedBuyersCount() === 0" ng-click="mainCtrl.confirmBuyerRemoval()" lx-tooltip="Remove selected" lx-tooltip-position="bottom">
				<i class="mdi mdi-delete"></i>
			</lx-button>
        </div>	 
    </header>
 
    <table class="data-table">
        <thead>
            <tr class="data-table__selectable-row">
                <th></th>
                <th>Name</th>
            </tr>
        </thead>
 
        <tbody>
            <tr class="data-table__selectable-row" 
            	ng-repeat="row in mainCtrl.getBuyers() track by $index" 
            	ng-init="rowIndex = $index"
            	ng-class="{ 'data-table__selectable-row--is-selected': row.isSelected }">
                <td class="rowSelectCell"><lx-checkbox ng-model="row.isSelected"></lx-checkbox></td>
                <td>
                	<lx-text-field lx-label="Name" lx-fixed-label="true">
    				    <input type="text" ng-model="row.name" class="txtName mousetrap">
					</lx-text-field>
				</td>
            </tr>
        </tbody>
    </table>
</div>
