<div class="data-table-container">
    <header class="data-table-header">			    	
        <div class="data-table-header__label">
            <span class="fs-title">
            	Movements
			</span>
        </div>	
        <div class="data-table-header__actions">
			<lx-button lx-type="fab" ng-click="mainCtrl.newDocument(true)" lx-tooltip="New" lx-tooltip-position="bottom">
				<i class="mdi mdi-file"></i>
			</lx-button>	            	
			<lx-button lx-type="fab" ng-click="mainCtrl.addEntry()" lx-tooltip="Add (Ctrl+Enter)" lx-tooltip-position="bottom">
				<i class="mdi mdi-plus"></i>
			</lx-button>	            	
			<lx-button lx-type="fab" ng-disabled="mainCtrl.getSelectedItemsCount() === 0" ng-click="mainCtrl.confirmRemoval()" lx-tooltip="Remove selected" lx-tooltip-position="bottom">
				<i class="mdi mdi-delete"></i>
			</lx-button>

            <!-- Exporting -->
            <lx-dropdown lx-position="left">
                <lx-dropdown-toggle>
                    <lx-button lx-type="fab" lx-tooltip="Export" lx-tooltip-position="bottom">
                        <i class="mdi mdi-download"></i>
                    </lx-button>
                </lx-dropdown-toggle>
     
                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link" ng-click="mainCtrl.exportJson()">JSON</a></li>
                        <li><a class="dropdown-link" ng-click="mainCtrl.exportPasteBin()">Pastebin</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>

            <!-- Importing -->			
            <lx-dropdown lx-position="right">
                <lx-dropdown-toggle>
        			<lx-button lx-type="fab" lx-tooltip="Import" lx-tooltip-position="bottom" >
        				<i class="mdi mdi-upload"></i>							
        			</lx-button>	
                </lx-dropdown-toggle>
                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link" ng-click="mainCtrl.importJson()">JSON</a></li>
                        <li><a class="dropdown-link" ng-click="mainCtrl.importPasteBin()">Pastebin</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>	 
    </header>
 
    <table class="data-table">
        <thead>
            <tr class="data-table__selectable-row">
                <th></th>
                <th style="text-align: left">Description</th>
                <th style="text-align: left">Amount</th>
                <th style="text-align: left">Quantity</th>
                <th ng-repeat="buyer in mainCtrl.getBuyers()"> {{ buyer.name }}</th>
            </tr>
        </thead>
 
        <tbody>
            <tr class="data-table__selectable-row" 
            	ng-repeat="row in mainCtrl.getData() track by $index" 
            	ng-init="rowIndex = $index"
            	ng-class="{ 'data-table__selectable-row--is-selected': row.isSelected }">
                <td class="rowSelectCell"><lx-checkbox ng-model="row.isSelected"></lx-checkbox></td>
                <td>
                	<lx-text-field lx-label="Description" lx-fixed-label="true">
    				    <input type="text" ng-model="row.description" class="txtDescription mousetrap">
					</lx-text-field>
				</td>
                <td>
                	<lx-text-field lx-label="Amount" lx-fixed-label="true">
    				    <input type="text" ng-model="row.amount" class="mousetrap">
					</lx-text-field>
				</td>
                <td>
                	<lx-text-field lx-label="Quantity" lx-fixed-label="true" class="mousetrap">
    				    <input type="text" ng-model="row.quantity">
					</lx-text-field>
				</td>
				<td ng-repeat="buyer in mainCtrl.getBuyers()">
					<lx-checkbox ng-model="row[buyer.name]">
					</lx-checkbox>
					<span ng-if="buyer !== mainCtrl.getBuyer()" class="smalltext">
						+ {{ mainCtrl.getDebtForRow(rowIndex, buyer) | number:2 }} €
					</span>
					<span ng-if="buyer === mainCtrl.getBuyer()" class="smalltext">
						- {{ mainCtrl.getDebtForRow(rowIndex, buyer) | number:2 }} €
					</span>	        						
            	</td>		
            </tr>
        </tbody>
        <tfoot>
            <tr>
            	<td></td>
            	<td style="text-align: left"><b>Total</b></td>
            	<td style="text-align: left"><b>{{ mainCtrl.getTotalAmount() | number:2 }} €</b></td>
            	<td style="text-align: left"><i>n/a</i></td>
            	<td ng-repeat="buyer in mainCtrl.getBuyers()">
            		<b>
						<span ng-if="buyer.name !== mainCtrl.getBuyer().name" class="earning">
							+ {{ mainCtrl.getDebt(buyer) | number:2 }} €
						</span>
						<span ng-if="buyer.name === mainCtrl.getBuyer().name" class="debt">
							- {{ mainCtrl.getDebt(buyer) | number:2 }} €
						</span>
					</b>
            	</td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Import json dialog -->
<lx-dialog id="importDialog">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Choose a file
            </span>
        </div>
        <lx-progress lx-type="linear" lx-color="teal" ng-if="mainCtrl.showDeterminateLinearProgress" lx-value="{{ mainCtrl.determinateLinearProgressValue }}"></lx-progress>
        <lx-progress lx-type="linear" lx-color="teal" ng-if="mainCtrl.showIndeterminateLinearProgress"></lx-progress>
    </lx-dialog-header>
 
    <lx-dialog-content>
    	<div class="p+ pt0">
    		<lx-file-input lx-label="Browse..." lx-callback="mainCtrl.importJson(newFile)"></lx-file-input>
    	</div>
    </lx-dialog-content>
 
    <lx-dialog-footer>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cancel</lx-button>
    </lx-dialog-footer>
</lx-dialog>

<!-- Export pastebin dialog -->
<lx-dialog id="exportPasteBinDialog">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Choose a name
            </span>
        </div>
        <lx-progress lx-type="linear" lx-color="teal" ng-if="mainCtrl.showDeterminateLinearProgress" lx-value="{{ mainCtrl.determinateLinearProgressValue }}"></lx-progress>
        <lx-progress lx-type="linear" lx-color="teal" ng-if="mainCtrl.showIndeterminateLinearProgress"></lx-progress>
    </lx-dialog-header>
 
    <lx-dialog-content>
        <div class="p+ pt0">
            <lx-text-field lx-allow-clear="true" lx-label="Name">
                <input type="text" ng-model="mainCtrl.exportDialog.name">
            </lx-text-field>
        </div>
    </lx-dialog-content>
 
    <lx-dialog-footer>
        <lx-button lx-type="flat" ng-click="mainCtrl.exportPasteBin(mainCtrl.exportDialog.name)">Export</lx-button>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cancel</lx-button>
    </lx-dialog-footer>
</lx-dialog>

<!-- Import pastebin dialog -->
<lx-dialog id="importPasteBinDialog">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                Pick a paste
            </span>
        </div>
        <lx-progress lx-type="linear" lx-color="teal" ng-if="mainCtrl.showDeterminateLinearProgress" lx-value="{{ mainCtrl.determinateLinearProgressValue }}"></lx-progress>
        <lx-progress lx-type="linear" lx-color="teal" ng-if="mainCtrl.showIndeterminateLinearProgress"></lx-progress>
    </lx-dialog-header>
 
    <lx-dialog-content>
        <div class="p+ pt0">
            <!-- 
            <ul class="list mt++">
                <li class="list-row" ng-repeat="paste in mainCtrl.importDialog.pasteKeys">
                    <div class="list-row__content">
                        <span class="display-block">{{ paste.name }}</span>
                        <span class="display-block fs-body-1 tc-black-2">http://pastebin.com/{{ paste.key }}</span>
                    </div>
                </li>
            </ul> -->       

            <lx-radio-group ng-if="mainCtrl.importDialog.pasteKeys !== null && mainCtrl.importDialog.pasteKeys.length > 0">
                <lx-radio-button ng-repeat="paste in mainCtrl.importDialog.pasteKeys" name="pasteKeys" value="{{ paste.key }}" ng-model="mainCtrl.importDialog.pasteSelected">
                    <lx-radio-button-label>
                        {{ paste.name }}

                        <lx-button lx-type="icon" ng-click="mainCtrl.deletePasteBin($index)" lx-tooltip="Delete" lx-tooltip-position="right">
                            <i class="mdi mdi-delete"></i>
                        </lx-button>
                    </lx-radio-button-label>
                    <lx-radio-button-help>http://pastebin.com/{{ paste.key }}</lx-radio-button-help>
                    
                </lx-radio-button>
            </lx-radio-group>

            <div ng-if="mainCtrl.importDialog.pasteKeys !== null && mainCtrl.importDialog.pasteKeys.length === 0">
                No pastes available.
            </div>
        </div>
    </lx-dialog-content>
 
    <lx-dialog-footer>
        <lx-button lx-type="flat" ng-disabled="mainCtrl.importDialog.pasteSelected === null" ng-click="mainCtrl.importPasteBin(mainCtrl.importDialog.pasteSelected)">Import</lx-button>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>Cancel</lx-button>
    </lx-dialog-footer>
</lx-dialog>